:root {
    --red : #dc2626;
    --green : #4caf50;
    --gray : #d6d6d6;
}

body {
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    background-color: var(--red);
    color: white;
    border-radius: .50rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}

.error {
    background-color: var(--red);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

li {
    font-weight: 600;
    padding: 1.5rem;
    border: 1px solid var(--gray);
    margin-bottom: 10px;
    border-radius: 1rem;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4); */
}

.confirmacion {
    width: 50px;
    height: 50px;
    background-color: var(--green); /* Verde */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeOut 3.5s forwards; /* Añade animación para desaparecer */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}
